<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlx.resume.mapper.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.zlx.resume.entity.Company" >
    <id column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="c_name" property="cName" jdbcType="VARCHAR" />
    <result column="c_location" property="cLocation" jdbcType="VARCHAR" />
    <result column="c_registcode" property="cRegistcode" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zlx.resume.entity.Company" extends="BaseResultMap" >
    <result column="c_ describe" property="cDescribe" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    c_id, c_name, c_location, c_registcode
  </sql>
  <sql id="Blob_Column_List" >
    "c_ describe"
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.zlx.resume.entity.CompanyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zlx.resume.entity.CompanyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from company
    where c_id = #{cId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from company
    where c_id = #{cId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zlx.resume.entity.CompanyExample" >
    delete from company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zlx.resume.entity.Company" >
    insert into company (c_id, c_name, c_location, 
      c_registcode, "c_ describe")
    values (#{cId,jdbcType=INTEGER}, #{cName,jdbcType=VARCHAR}, #{cLocation,jdbcType=VARCHAR}, 
      #{cRegistcode,jdbcType=VARCHAR}, #{cDescribe,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zlx.resume.entity.Company" >
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cName != null" >
        c_name,
      </if>
      <if test="cLocation != null" >
        c_location,
      </if>
      <if test="cRegistcode != null" >
        c_registcode,
      </if>
      <if test="cDescribe != null" >
        "c_ describe",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cLocation != null" >
        #{cLocation,jdbcType=VARCHAR},
      </if>
      <if test="cRegistcode != null" >
        #{cRegistcode,jdbcType=VARCHAR},
      </if>
      <if test="cDescribe != null" >
        #{cDescribe,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zlx.resume.entity.CompanyExample" resultType="java.lang.Integer" >
    select count(*) from company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update company
    <set >
      <if test="record.cId != null" >
        c_id = #{record.cId,jdbcType=INTEGER},
      </if>
      <if test="record.cName != null" >
        c_name = #{record.cName,jdbcType=VARCHAR},
      </if>
      <if test="record.cLocation != null" >
        c_location = #{record.cLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.cRegistcode != null" >
        c_registcode = #{record.cRegistcode,jdbcType=VARCHAR},
      </if>
      <if test="record.cDescribe != null" >
        "c_ describe" = #{record.cDescribe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update company
    set c_id = #{record.cId,jdbcType=INTEGER},
      c_name = #{record.cName,jdbcType=VARCHAR},
      c_location = #{record.cLocation,jdbcType=VARCHAR},
      c_registcode = #{record.cRegistcode,jdbcType=VARCHAR},
      "c_ describe" = #{record.cDescribe,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update company
    set c_id = #{record.cId,jdbcType=INTEGER},
      c_name = #{record.cName,jdbcType=VARCHAR},
      c_location = #{record.cLocation,jdbcType=VARCHAR},
      c_registcode = #{record.cRegistcode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlx.resume.entity.Company" >
    update company
    <set >
      <if test="cName != null" >
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cLocation != null" >
        c_location = #{cLocation,jdbcType=VARCHAR},
      </if>
      <if test="cRegistcode != null" >
        c_registcode = #{cRegistcode,jdbcType=VARCHAR},
      </if>
      <if test="cDescribe != null" >
        "c_ describe" = #{cDescribe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zlx.resume.entity.Company" >
    update company
    set c_name = #{cName,jdbcType=VARCHAR},
      c_location = #{cLocation,jdbcType=VARCHAR},
      c_registcode = #{cRegistcode,jdbcType=VARCHAR},
      "c_ describe" = #{cDescribe,jdbcType=LONGVARCHAR}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlx.resume.entity.Company" >
    update company
    set c_name = #{cName,jdbcType=VARCHAR},
      c_location = #{cLocation,jdbcType=VARCHAR},
      c_registcode = #{cRegistcode,jdbcType=VARCHAR}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
</mapper>